parameters:
	ignoreErrors:
		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Classes/ImportExportManager.php

		-
			message: '#^Access to an undefined property Igniter\\Admin\\Classes\\AdminController\:\:\$exportConfig\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Actions/ExportController.php

		-
			message: '#^Access to an undefined property Igniter\\Admin\\Classes\\AdminController\:\:\$importConfig\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Actions/ImportController.php

		-
			message: '#^Call to an undefined method IgniterLabs\\ImportExport\\Http\\Actions\\ImportController\:\:getExportColumns\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Actions/ImportController.php
