parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Classes/ImportExportManager.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Classes\\\\AdminController\\:\\:\\$exportConfig\\.$#"
			count: 1
			path: src/Controllers/Actions/ExportController.php

		-
			message: "#^Call to an undefined method League\\\\Csv\\\\Reader\\:\\:appendStreamFilter\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ExportController.php

		-
			message: "#^Call to an undefined method League\\\\Csv\\\\Reader\\:\\:isActiveStreamFilter\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ExportController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\Admin\\:\\:url\\(\\)\\.$#"
			count: 2
			path: src/Controllers/Actions/ExportController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminAuth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ExportController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\Template\\:\\:setHeading\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ExportController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\Template\\:\\:setTitle\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ExportController.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Classes\\\\AdminController\\:\\:\\$importConfig\\.$#"
			count: 1
			path: src/Controllers/Actions/ImportController.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\ImportExport\\\\Controllers\\\\Actions\\\\ImportController\\:\\:getExportColumns\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ImportController.php

		-
			message: "#^Call to an undefined method League\\\\Csv\\\\Reader\\:\\:appendStreamFilter\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ImportController.php

		-
			message: "#^Call to an undefined method League\\\\Csv\\\\Reader\\:\\:isActiveStreamFilter\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ImportController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\Admin\\:\\:url\\(\\)\\.$#"
			count: 2
			path: src/Controllers/Actions/ImportController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminAuth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ImportController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\Template\\:\\:setHeading\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ImportController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\Template\\:\\:setTitle\\(\\)\\.$#"
			count: 1
			path: src/Controllers/Actions/ImportController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Controllers/ImportExport.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\Template\\:\\:setHeading\\(\\)\\.$#"
			count: 1
			path: src/Controllers/ImportExport.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\Template\\:\\:setTitle\\(\\)\\.$#"
			count: 1
			path: src/Controllers/ImportExport.php

		-
			message: "#^Call to an undefined method League\\\\Csv\\\\Reader\\:\\:appendStreamFilter\\(\\)\\.$#"
			count: 1
			path: src/Models/ImportModel.php

		-
			message: "#^Call to an undefined method League\\\\Csv\\\\Reader\\:\\:isActiveStreamFilter\\(\\)\\.$#"
			count: 1
			path: src/Models/ImportModel.php

		-
			message: "#^Method IgniterLabs\\\\ImportExport\\\\Models\\\\ImportModel\\:\\:prepareCsvReader\\(\\) invoked with 3 parameters, 2 required\\.$#"
			count: 1
			path: src/Models/ImportModel.php
